{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="guessNum" content="width=device-width, initial-scale=1">
    <script src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='game1.js')}}"></script>
    <title>GuessNum</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <!--Embedded CSS-->
    <style type="text/css"></style>
    <script type="text/javascript"></script>
</head>

<body>
  <h5 style="text-align:right">Model: <button id="easy" onclick="change_model(10)">Easy</button>&emsp;<button  id="hard" onclick="change_model(5)">Hard</button >&emsp;<button  id="diff" onclick="change_model(2)">Difficult</button ></h5>
  <br>
  <h1 style="text-align:center; color:rgb(9, 9, 4);">Guess Num</h1>
  <div style="position:relative;left:75%;" id="tb_cr"></div>
  <div style="text-align:center;">
    <h2>Welcome {{ current_user.username }}. You have <span id="num_times"></span> chances</h2>
    <input type="number" id="num_val"><a id='rd_val'></a><a id='model_val'></a><a id='score_val' hidden="hidden"></a>
    <button type="button" onclick="val_check()">Enter</button>
    <button type="button" onclick="re_init()">Reload</button>
    <br>
      <div id="result"></div>
      <button id="share" style="display:none">share result?</button>
    <p id="tips"></p>
  </div>
</body>

{% endblock %}