<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
  <br>
  <br>
  <br>
  <h1>Hello! Welcome to Guess Number.</h1><br>
{#  TODO:add the game rules here#}
  <hr>
  <br>
  <br>
  <br>
  <div style="text-align:center">
    <a href="{{ url_for('login') }}", style="text-decoration: none; color: #c7254e"><button>Click here to Login!</button></a>
  </div>

</body>
</html>